@media screen and (max-width: 1000px) {
  .contatos {
    visibility: hidden;
    float: none;
    margin-right: none;
    display: none;
  }
}
@media screen and (max-width: 800px) {
  iframe {
    width: 400px;
    height: 200px;
  }
  .checkbtn {
    color: lawngreen;
  }

  .part video {
    width: 545px;
    height: 248px;
  }
  body {
    background-image: none;
  }
}
