@media screen and (max-width: 1000px) {
  .contatos {
    visibility: hidden;
    float: none;
    margin-right: none;
    display: none;
  }
}
@media screen and (max-width: 800px) {
  iframe {
    width: 440px;
    height: 210px;
  }
  .part video {
    width: 545px;
    height: 248px;
  }
}
