* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: tahoma;
}
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

:root {
  --background: 0);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #222;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}

.content {
  height: 200vh;
  background-image: url(//unsplash.it/1000/1000);
  background-color: #333;
  background-blend-mode: multiply;
  background-size: cover;
  display: grid;
  place-items: center;
}


header {
  background: var(--background);
  text-align: center;
  position: absolute;
  z-index: 999;
  width: 100%;
}
tabbable */
.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, 0.75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #000;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .logo {
    grid-column: 2 / 3;
    width: 0;
    margin-left: 75px;
  }

  nav {
    // all: unset; 

    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1, 1);
    background: none;
    top: initial;
    left: initial;

    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -0.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1, 1);
  }
}

/*video de fundo*/
#home {
  height: 100%;
}

#home-bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

#home-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#home-content {
  width: 100%;
  height: 100%;
  display: table;
  margin-top: 200px;
}

#home-content-inner {
  display: table-cell;
  vertical-align: middle;
}

#home-heading h1 {
  color: white;
  font-size: 55px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

#home-heading h1 span {
  color: springgreen;
  font-size: 45px;
  font-weight: 600;
}

#home-text p {
  color: black;
  font-size: 15px;
  font-weight: 100;
  margin: 8px 0 30px 0;
}

.btn-general {
  font-family: tahoma;
  border-radius: 28px;
  text-transform: uppercase;
  margin: 0 6px;
  padding: 12px 46px 12px 46px;
  transition: all 0.4s;
  background-color: violet;
  color: white;
}

/*historia*/

.content {
  display: flexbox;
  position: relative;
  width: 962px;
  height: 268px;
  left: 196px;
  top: 783px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: #000000;
}

/*button*/
.mais {
  justify-content: center;
  font-style: normal;
  font-weight: bolder;
  font-size: 25px;
  line-height: 30px;

  position: absolute;
  width: 233px;
  height: 62px;
  left: 524px;
  top: 1300px;
  border: 0;

  background: linear-gradient(180deg, #98e03c 0%, #92d275 100%);
  border-radius: 30px;
}

.mais a {
  margin: auto;
  text-decoration: none;
  color: #000;
}

.mais:hover {
  background: #fff;
}

/*FOOTER RODAPÉ DO SITE*/
.footer {
  background: rgb(54, 216, 39);
  position: absolute;
  width: 100vw;
  height: 40px;
  left: 0px;
  top: 2000px;
}

.mps {
  position: absolute;
  width: 540px;
  height: 310px;
  left: 592px;
  top: 2166px;
}

.mps .maps {
  text-align: center;
}
.footer {
  position: absolute;
  width: 100%;
  height: 83px;
  left: 0px;
  top: 2583px;
}

.footer p {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  color: black;
}

/* Cards */
.card {
  position: absolute;
  width: 275.36px;
  height: 177.65px;
  left: 198px;
  top: 454.35px;

  background: linear-gradient(180deg, #98e03c 0%, #92d275 100%);
  border-radius: 30px;
}

.card img {
  position: absolute;
  left: 24.11%;
  right: 71.38%;
  top: 18.91%;
  bottom: 79.18%;
}

.part video {
  position: absolute;
  width: 795.82px;
  height: 448px;
  left: 269px;
  top: 1575px;
}
